.nav {
    background-color: #164acc;
    overflow: hidden;
}

.nav a {
    float: left;
    display: block;
    color: #009da8c5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.card .cards body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #930dcca4;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}


@media screen and (max-width: 320px) {
    .nav a {
        float: none;
        display: block;
        text-align: center;
    }
}
body {
    background-color: #5c0386f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}